* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(275, 275, 205);
}

.container {
  width: 500px;
  height: 500px;
  background-image: url(img/pug-life.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 0 auto;
  margin-top: 10rem;
  overflow: hidden;
}
h2 {
  display: inline-flex;
  margin-top: 10%;
  margin-left: 20%;
  background-color: beige;
  padding: 0.8rem;
  border-radius: 15px;
  /* border: 2px solid red; */
  text-transform: uppercase;
  font-size: 18px;
  font-family: sans-serif;
}

p {
  display: table;
  border-radius: 10px;
  background-color: rgba(275, 275, 275, 0.7);
  margin: 5px;
  padding: 5px;
  margin-top: 1rem;
  transform: translate(calc(-100% - 156px));
}
.slides {
  margin-left: 95px;
}
.div1 {
  transition: 0.3s 0.1s;
}
.div2 {
  transition: 0.3s 0.2s;
}
.div3 {
  transition: 0.3s 0.3s;
}

.container:hover p {
  transform: translate(0);
}
